* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

body {
    background-color: #F5F4F0;
    margin: 88px 80px;
}

#page {
    width: 1200px;
}

img {
    border-radius: 28px;
    width: 1120px;
    height: 350px;
    padding-bottom: 24px;
    width: 100%;
}

#img1 {
    width: 1120px;
    height: 660px;
    object-fit: cover;
    width: 100%;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 4px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

h1, h2, h3 {
    color: #1B1B1B;
}

p {
    font-size: 16px;
    color: #333333;
}

.texto {
    padding-bottom: 24px;
}

.italico {
    font-style: italic;
}

span {
    font-size: 16px;
    font-weight: bold;
    color: #E1624F;
    padding-bottom: 8px;
    text-transform: uppercase;
}

ul {
    margin-bottom: 24px;
}

.azul {
    color: #0C51A7;
}

.laranja {
    color: #E95E10;
}

.rosa {
    color: #E5245E;
}

.roxo {
    color: #591B98;
}

footer {
    text-align: center;
}

footer img {
    margin-top: 20px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}